<footer>
  <div class="columns">
    <ul class="columns__lists">
      <li>
        <a href="https://adalab.es/" title="ARTICLES"> articles</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="BOOKS"> books </a>
      </li>
      <li>
        <a href="https://adalab.es/" title="EVENTS"> events </a>
      </li>
      <li>
        <a href="https://adalab.es/" title="REASONS"> reasons </a>
      </li>
      <li>
        <a href="https://adalab.es/" title="TIPS"> tips </a>
      </li>
    </ul>

    <ul class="columns__media">
      <li>
        <a href="https://adalab.es/" title="TWITTER">
          twitter
        </a>
      </li>
      <li>
        <a href="https://adalab.es/" title="INSTAGRAM">instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="MASTODON.SOCIAL">
          mastodon.social</a
        >
      </li>
    </ul>
    <div class="columns__copy">
      <p>&copy; 2017</p>
      <p>we <i class="fa fa-heart" aria-hidden="true"></i> components</p>
    </div>
  </div>
</footer>
