<footer>
  <div class="columns">
    <div class="columns__container">
      <ul class="columns__container--lists columns__container--children">
        <li>
          <a href="https://adalab.es/" title="ARTICLES"> articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="BOOKS"> books </a>
        </li>
        <li>
          <a href="https://adalab.es/" title="EVENTS"> events </a>
        </li>
        <li>
          <a href="https://adalab.es/" title="REASONS"> reasons </a>
        </li>
        <li>
          <a href="https://adalab.es/" title="TIPS"> tips </a>
        </li>
      </ul>

      <ul
        class="columns__container--media"
        class="columns__container--children"
      >
        <li>
          <a href="https://adalab.es/" title="TWITTER">
            twitter
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" title="INSTAGRAM">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="MASTODON.SOCIAL">
            mastodon.social</a
          >
        </li>
      </ul>
      <div
        class="columns__container--copy"
        class="columns__container--children"
      >
        <p>&copy; 2017</p>
        <p>we components</p>
      </div>
    </div>
  </div>
</footer>
