<header>
  <div class="header" id="heroSelector">
    <nav class="header__nav">
      <a href="https://adalab.es/" title="IR A LA PÁGINA DE ADALAB">
        <img
          src="./assets/images/ico-menu.svg"
          alt="menu"
          class="header__nav--image"
        />
      </a>
    </nav>
    <div class="header__box">
      <h1 class="header__box--title">
        <span>anonimous</span>
        <span>proxy</span>
      </h1>
      <p class="header__box--quote">
        In hac habitasse platea dictumst.
      </p>
      <a href="#selectorReasons" class="header__box--arrow">
        <img src="./assets/images/ico-scroll-down.svg" alt="flecha" />
      </a>
    </div>
    <div class="header__newSection">
      <h2 class="header__newSection--child">
        anonimous proxy
      </h2>
      <p class="header__newSection--child">
        <a
          href="https://trello.com/b/XeptNSUW/proyect-promoj-m1-team-1"
          title="trello"
        >
          Miércoles 17 Junio 2020</a
        >
      </p>
    </div>
  </div>
</header>
