<header>
  <div class="header" id="hero">
    <nav class="header__nav">
      <a href="https://adalab.es/" title="IR A LA PÁGINA DE ADALAB">
       <img src="./assets/images/ico-menu.svg" alt="menu" class="header__nav--image">
      </a>
    </nav>
    <div class="header__box">
        <h1 class="header__box--title">
            <span>anonimous</span>
            <span>proxy</span>
        </h1>
        <p class="header__quote">
            In hac habitasse platea dictumst.
        </p>
        <a href="./index.html#reasons" class="header__arrow">
          <img src="./assets/images/ico-scroll-down.svg" alt="flecha" />
        </a>
      </div>
    </div>
  </div>
</header>
