<header>
  <div class="header">
    <nav class="header__nav">
      <a href="https://adalab.es/" title="IR A LA PÁGINA DE ADALAB">
        <img src="./assets/images/ico-menu.svg" alt="menu" />
      </a>
    </nav>
    <div class="header__box">
        <h1 class="header__box--title">
            <span>anonimous</span>
            <span>proxy</span>
        </h1>
        <p>
            in hac habitasse platea dictumst.
        </p>
        <div>
          <img src="./assets/images/ico-scroll-down.svg" alt="flecha" />
        </div>
      </div>
    </div>
  </div>
</header>
