$font-primary: "Roboto", sans-serif;
$color-primary: #ffffff;
$color-secondary: #eff9ff;
$color-tertiary: #304268;
$color-buttons: #f26002;
$color-hamburguer: #0271bc;
$color-mainText: #000000;
$color-lineText: #8ccbea;
