.header {
  height: 100vh;
  width: 100%;
  border: solid blue 1px;
  background: url(./assets/images/cover.jpg) no-repeat;
  &__nav {
    border: solid 1px red;
  }

  &__box {
    border: solid 1px yellow;
    display: flex;
    flex: column;
    justify-content: center;

    &--title {
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 42px;
    }
  }
}
