.header {
  height: 100vh;
  width: 100%;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__nav {
    display: inline-block;
    background-color: $color-hamburguer;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0px;
    z-index: 9999;

    &--image {
      padding: 15px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary;
    margin-bottom: 50px;

    &--title {
      font-family: $font-secondary;
      text-transform: uppercase;
      font-size: 42px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;

      & span {
        display: block;
      }
      @media all and (min-width: 768px) {
        font-size: 80px;
      }
    }
  }

  &__quote {
    font-family: $font-primary;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $color-primary;

      :hover {
        min-height: 45.5px;
        transition: min-height ease 0.8s;
        width: 45.5px;
        transition: min-height ease 0.8s;
        border-radius: 55%;
        transition: border-radius ease 0.8s;
      }
    }
  }
}
