.looking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;

  &__container {
    max-width: 730px;
    padding: 0px 15px;

    &--small {
      color: $color-lineText;
      display: inline-block;
      text-transform: capitalize;
      font-family: $font-primary;
      font-size: 14px;
      @media all and (min-width: 1200px) {
        font-size: 16px;
      }
    }

    &--title {
      color: $color-mainText;
      display: block;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-transform: capitalize;

      & span {
        font-family: $font-secondary;
        font-size: 24px;
        @media all and (min-width: 768px) {
          font-size: 26px;
        }
        @media all and (min-width: 1200px) {
          font-size: 32px;
        }
      }
    }

    &--text {
      margin-bottom: 30px;
      display: block;
      width: 100%;
      font-family: $font-primary;
      font-size: 18px;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
    }

    &--link {
      color: $color-buttons;
      border: solid $color-buttons 2px;
      border-radius: 50px;
      margin-bottom: 45px;
      display: inline-block;
      padding: 5px;
      width: 76px;

      & a {
        padding-left: 15px;
        padding-right: 15px;
        font-family: $font-primary;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      :hover {
        background-color: $color-hamburguer;
        transition: background-color ease 0.8s;
        border: solid $color-hamburguer 2px;
        transition: border ease 0.8s;
        border-radius: 50px;
        transition: border-radius ease 0.8s;
        color: $color-primary;
        transition: color ease 0.8s;
      }
      @media all and (min-width: 768px) {
        width: 96px;
      }
      @media all and (min-width: 1200px) {
        width: 160px;
      }
    }
  }
}
